In [ ]:
import pandas as pd

In [ ]:
train = pd.read_csv('https://storage.googleapis.com/capstone4ldsaa/train.csv')

In [ ]:
train.Date

In [40]:
df=train
column_target='Type'
df_1 = df[column_target].value_counts().to_frame().reset_index()
df_2 = df[column_target].value_counts(normalize=True).to_frame().reset_index()
# df.sort_values(by='index', inplace=True, ignore_index=True)
df=df_1.merge(df_2, on='index')
df.rename(columns={'index':column_target, df.columns[1]:"Frequency",df.columns[2]:"Normalized"}, inplace=True,)

TypeError: 'DataFrame' object is not callable

In [30]:
df_1.merge(df_2, on='index')

                       index  Type_x    Type_y
0              Person search  503503  0.762178
1  Person and Vehicle search  156156  0.236381
2             Vehicle search     952  0.001441